@import "tailwindcss";

:root {
  --background: #F9ECEC;
  --background-white: #F4F2F7;
  --neutral-dark: #161616;
  --neutral-grey: #343434;
  --primary-green: #22AAA1;
  --primary-yellow: #FFED65;
  --bg-yellow:rgb(255,237,101, 69%);
  --primary-pink: #FF499E;
  --card-green: #22AAA1 40%;
  --card-pink: #FF499E 40%;
  --card-linear-gradient: linear-gradient(-114deg, #22AAA1 27% 11%,  #22AAA1 13% 69%, #F5F5F5 100%);
}

.bg-white {
  background: var(--background-white);
}

.header-yellow {
  background: var(--bg-yellow);
}

.text-green {
  color: var(--primary-green);
}


body {
  background: var(--background);
  color: var(--neutral-dark);
  font-family: var(--font-roboto);
}

h1 {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 32px;
  line-height: 24px;
  letter-spacing: 0.23em;
}

#title-header {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.13em;
}

h2 {
  font-family: var(--font-inter);
  color: var(--neutral-grey);
  font-weight: 800;
  font-size: 48px;
  letter-spacing: 0.9em;
}

h3 {
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 26px;
}

button {
  font-family: var(--font-roboto);
  font-weight: 500;
  line-height: 16px;
  font-variant: small-caps;
}

@media (max-width: 768px) {
  h1 {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 32px;
    line-height: 24px;
    letter-spacing: 0.23em;
  }

  #title-header {
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.13em;
  }

  h2 {
    font-family: var(--font-inter);
    font-weight: 800;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 1px;
  }

  h3 {
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
  }
}